:root {
  --slidev-theme-primary: #539350;
  --slidev-theme-secondary: #fa5100;
}

html {
  font-size: 18px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--slidev-theme-primary);
}

h1 {
  font-size: 2.3rem;
  font-weight: bold;
}

h2 {
  font-size: 2.0rem;
}

h3 {
  font-size: 1.7rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.3rem;
}

h6 {
  font-size: 1.1rem;
}

.slidev-layout {
  padding: 4rem 3rem;
}

.slidev-layout > div > *:not(:first-child), .slidev-layout > *:not(:first-child) {
  margin-top: 0.5em;
}

#slideshow > div {
  background-image: url(brand-aslant-light.svg), url(divider-top.svg), url(divider-bottom.svg);
  background-repeat: no-repeat;
  background-position: calc(100% - 3rem) calc(100% - 1.75rem), top, bottom;
  background-size: 8rem, 100%, 100%;
}

#slideshow > div > div {
  z-index: -1;
}

@media (prefers-color-scheme: dark) {
  #slideshow > div {
    background-image: url(brand-aslant-dark.svg), url(divider-top.svg), url(divider-bottom.svg);
  }
}