/* PT Sans */

@font-face {
	font-family: 'PT Sans';
	font-display: swap;
	font-weight: 400;
	src: url('@fontsource/pt-sans/files/pt-sans-latin-ext-400-normal.woff2') format('woff2');
}

@font-face {
	font-family: 'PT Sans';
	font-display: swap;
	font-weight: 400;
	font-style: italic;
	src: url('@fontsource/pt-sans/files/pt-sans-latin-ext-400-italic.woff2') format('woff2');
}

@font-face {
	font-family: 'PT Sans';
	font-display: swap;
	font-weight: 700;
	src: url('@fontsource/pt-sans/files/pt-sans-latin-ext-700-normal.woff2') format('woff2');
}

@font-face {
	font-family: 'PT Sans';
	font-display: swap;
	font-weight: 700;
	font-style: italic;
	src: url('@fontsource/pt-sans/files/pt-sans-latin-ext-700-italic.woff2') format('woff2');
}

/* 2MASSJ1808 */

@font-face {
	font-family: '2MASS J1808';
	font-display: swap;
	font-weight: normal;
	src: url(./fonts/2MASSJ1808-Normal.woff2) format('woff2');
}

@font-face {
	font-family: '2MASS J1808';
	font-display: swap;
	font-weight: 900;
	src: url(./fonts/2MASSJ1808-Heavy.woff2) format('woff2');
}

/* Fira Code */

@font-face {
	font-family: 'Fira Code';
	font-display: swap;
	font-weight: 400;
	src: url('@fontsource/fira-code/files/fira-code-latin-400-normal.woff2') format('woff2');
}


:root {
  --slidev-theme-primary: #539350;
  --slidev-theme-primary-alternative: #8bca88;
  --slidev-theme-secondary: #fa5100;
}

html {
  font-size: 18px;
}

::marker {
	font-family: monospace;
	font-weight: bold;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--slidev-theme-primary);
  font-family: "2MASS J1808";
	margin-bottom: 0 !important;
}

.slidev-layout p, .slidev-layout li {
	line-height: 1.8;
}

.slidev-layout h1 {
  font-size: 1.4rem;
	font-weight: bold;
}

.slidev-layout h2 {
  font-size: 1.2rem;
}

.slidev-layout h3 {
  font-size: 1rem;
}

.slidev-layout h4 {
  font-size: 0.9rem;
}

.slidev-layout h5 {
  font-size: 0.8rem;
}

.slidev-layout h6 {
  font-size: 0.7rem;
}

.slidev-layout h1 + h2 {
	color: var(--slidev-theme-primary-alternative);
	font-size: 1rem;
}

.slidev-layout h1 + * {
	margin-top: 0.5rem !important;
}

.slidev-layout ul li::marker {
	content: '> ';
}

.slidev-layout ul li li::marker {
	content: '- ';
}

.slidev-layout ul, .slidev-layout ol, .slidev-layout dl {
	margin-top: 1rem;
	margin-bottom: 0.5rem;
}

.slidev-layout li ul, .slidev-layout li ol, .slidev-layout li dl {
	margin-top: 0;
}

.slidev-layout li {
	margin-left: 2rem;
}

.slidev-layout {
  padding: 1.9rem 3rem 3rem 3rem;
	z-index: 1 !important;
}

.slidev-layout.two-cols, .slidev-layout.two-cols-header {
	gap: 0.25rem 1rem;
}

.slidev-layout.two-cols-header {
	grid-template-rows: repeat(2, min-content);
}

.slidev-layout.two-cols-header > div {
	margin: 0;
}

#slideshow > div {
  background-image: url(./images/brand-aslant-light.svg), url(./images/divider-bottom.svg);
  background-repeat: no-repeat;
  background-position: calc(100% - 54px) calc(100% - 32px), bottom;
  background-size: 8rem, 102%, 102%;
}

#slideshow > div > div {
  z-index: -1;
}

@media (prefers-color-scheme: dark) {
  #slideshow > div {
    background-image: url(./images/brand-aslant-dark.svg), url(./images/divider-bottom.svg);
  }
}
